<!--< if @current_companies_company == @company %>-->
<div class="container">
  <div class="row">
    <h4 class="mt-2 p-2 text-center bg-secondary text-white col-md-12">仕事依頼追加画面</h4>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2 mt-4">
　　  <%= render partial: 'form', locals: { job: @job } %>
　　</div>
　　<div class="col-md-12 text-center mt-3">
      <%= link_to '仕事一覧', companies_company_jobs_path(@company), class: 'btn btn-secondary' %>
    </div>
  </div>
</div>