<div class="container">
  <div class="row">
    <h4 class="mt-2 p-2 text-center bg-secondary text-white col-md-12">ニュース</h4>
  </div>
  <div class="row">
    <div class="col-md-5 text-center">
      <p></p>
　　　　<hr>
　　　　<div id="result">no information...</div>
　　　　<script>
　　　　　var f = function(){
　　　　　  $.ajax({
        　　type: 'GET',
            url: '/news/data'
            });
          };
        f();
        </script>
    </div>
  </div>
</div>

