<h1>Task-Match</h1>


<%= link_to '会社一覧', companies_path %>
<%= link_to '仕事依頼一覧', jobs_path %>

<%= link_to 'ログイン', new_user_session_path %>

<%= link_to '会社管理者の方はこちら', new_companies_company_session_path %>