<div class="container">
  <div class="row">
    <div class="col-12 text-center title">
      <h1>予約詳細画面</h1>
    </div>
    <div class="col-12 mt-3 text-center content">

      <div>
        <label><strong>依頼タイトル：</strong></label>
        <p style="display:inline;"><%= @job.title %></p>
      </div>

      <div>
        <label><strong>日付：</strong></label>
        <p style="display:inline;"><%= @order.day %></p>
      </div>
      <div>
        <label><strong>時間：</strong></label>
        <p style="display:inline;"><%= @order.time %></p>
      </div>
    </div>
    <div class="col-12 text-right">
      <%= link_to 'マイページへ', user_path(current_user, @order.id) %>
    </div>
  </div>
</div>